.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  background: $primary-300;
}

.nav {
  display: flex;
}

.nav__list {
  display: flex;
  gap: 1rem;
}
