@mixin pallet-dark {
  --primary: rgb(36 34 34);
  --primary-300: #7e838b;
  --primary-400: #7a7386;
  --primary-600: #514242;
  --secondary: rgb(255 255 255);
  --secondary-200: #ece8e8;
  --secondary-400: #a9a7de;
  --tertiary: #08426a;
  --tertiary-300: rgb(23 123 200);
  --tertiary-900: #978bae;
  --neutrel: #a0aaff;
  --danger: #c51339;
  --relax: #ffe3ea;
}

@media (prefers-color-scheme: dark) {
  :root {
    @include pallet-dark;
  }
}

.theme-dark {
  @include pallet-dark;
}
